.clone-card {
  box-shadow: 0px 0px 10px 5px rgb(170, 170, 170);
  min-width: 300px;
  margin: 0 20px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 1px;
  transition: transform 0.3s linear;
}

.clone-card:hover {
  transform: scale(1.05, 1.05);
}

.clone-card .card-name {
  text-align: center;
  grid-area: 1 / 1 / 4 / 4;
  text-decoration: none;
  font-size: 2rem;
  font-family: 'Open sans', sans-serif;
  font-weight: 800;
  padding: 50px 30px 10px 30px;
  cursor: pointer;
  user-select: none;
}

.clone-card .main-site-btn {
  border-radius: 0 0 0 5px;
  grid-area: 4 / 1 / 4 / 1;
  background-color: #5902EC;
  color: #fefefe;
  text-align: center;
  padding: 20px 0;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  transition: all 0.1s linear;
  cursor: pointer;
  user-select: none;
}

.clone-card .code-btn {
  border-radius: 0 0 5px 0;
  grid-area: 4 / 2 / 4 / 2;
  background-color: #5902EC;
  color: #fefefe;
  text-align: center;
  padding: 20px 0;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  transition: all 0.1s linear;
  cursor: pointer;
  user-select: none;
}

.clone-card .code-btn span {
  margin-left: 10px;
}

@media screen and (min-width: 600px) and (max-width: 768px) {
  .clone-card {
    width: 300px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .clone-card .card-name {
    font-size: 1.5rem;
    grid-area: 1 / 1 / 3 / 3;
  }
  .clone-card .code-btn, .clone-card .main-site-btn {
    font-size: 1rem;
    padding: 15px 5px;
  }
}

@media screen and (max-width: 600px) {
  .clone-card {
    width: 350px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  .clone-card .card-name {
    font-size: 1.7rem;
    grid-area: 1 / 1 / 4 / 4;
  }
  .clone-card .code-btn, .clone-card .main-site-btn {
    font-size: 0.8rem;
    padding: 15px 5px;
  }
}