$accent-purple: #5902ec;
$card-grey: #2c2d33;
$background-grey: #1c2027;
$ashen: rgb(226, 225, 225);

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .section-one {
    width: 80vw;
    display: flex;
    flex-direction: row;

    .section-one-left {
      display: flex;
      flex-direction: row;
      flex: 80%;
      max-width: 1000px;
      justify-content: space-between;
      line-height: 1.6;
      .about {
        font-size: 2.8rem;
        margin: 20px 50px 0 20px;
        font-family: InterExtraBold;
        text-align: center;

        .hello {
          font-size: 6rem;
          margin: 0px;
        }

        .sideline {
          border-left: 10px solid $accent-purple;
          height: 650px;
          margin-right: 40px;
          float: left;
        }
      }

      .extra {
        margin-top: 10px;
        text-align: justify;

        p {
          font-size: 1.8rem;
          font-family: InterReg;
        }

        .arrow {
          vertical-align: middle;
          color: #5902ec;
          margin-right: 1em;
        }
      }
    }
    .section-one-right {
      flex: 20%;
    }
  }

  .section-two {
    margin: 60px;
    margin-top: 150px;

    .fa-circle {
      color: $accent-purple;
      margin-right: 30px;
      vertical-align: middle;
    }

    .aboutme {
      background-color: #fffefe;
      width: 60em;
      margin: auto;
      border: 1px solid transparent;
      border-radius: 10px;
      padding: 40px 100px;
      line-height: 1.6;
      text-align: justify;
      text-justify: inter-word;

      h1 {
        font-family: SlateBold;
        text-decoration: underline $accent-purple;
        letter-spacing: 1.5px;
      }

      p {
        text-indent: 200px;
        font-family: Slate;
        font-size: 1.8rem;
      }
    }

    .personal-info {
      margin-top: 0px;

      h1 {
        text-align: center;
        font-size: 4rem;
        text-decoration: underline $accent-purple;
        font-family: InterExtraBold;
      }

      .personal-info-section {
        background-color: #fffefe;
        width: 50em;
        margin: auto;
        padding: 10px 50px;
        font-family: InterReg;
        border-radius: 10px;

        .info-item {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-top: 20px;
          line-height: 1.5;
          font-size: 1.7rem;
          font-weight: 700;

          p:nth-of-type(1) {
            flex: 50%;
          }

          p:nth-of-type(2),
          ul {
            max-width: 400px;
            flex: 50%;
          }

          p:nth-of-type(2) {
            text-align: justify;
            text-justify: inter-word;
          }

          ul {
            line-height: 1.2;
          }

          a {
            margin: 0 10px;
            color: rgb(77, 77, 77);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
  .homepage {
    .section-one {
      flex-direction: column;
      .section-one-left {
        flex: 100%;
        .about {
          text-align: center;
          line-height: 1.4;

          .hello {
            text-align: center;
            font-size: 4rem;
          }

          .sideline {
            height: 700px;
          }
        }

        .extra {
          p {
            width: 600px;
            font-size: 1.5rem;
          }
        }
      }
      .section-one-right {
        flex: 100%;
      }
    }

    .section-two {
      margin-top: 100px;

      .aboutme {
        padding: 10px 60px;
        line-height: 1.6;
        width: 30em;
        margin: auto;

        p {
          text-indent: 50px;
          font-size: 1.5rem;
        }
      }

      .personal-info {
        margin-top: 150px;

        h1 {
          font-size: 2.5rem;
        }

        .personal-info-section {
          width: 30em;
          margin: auto;

          .info-item {
            align-items: center;

            p:nth-of-type(2),
            ul {
              max-width: 300px;
            }

            p:nth-of-type(1) {
              font-size: 1.5rem;
            }

            p:nth-of-type(2),
            ul {
              font-size: 1.5rem;

              a {
                font-size: 1.5rem;
                color: grey;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .homepage {
    .section-one {
      display: flex;
      flex-direction: column;
      line-height: 1.6;

      .section-one-left {
        flex: 100%;
        .about {
          text-align: center;
          margin: 0.5em;

          .hello {
            font-size: 4rem;
          }

          .intro {
            width: 350px;
            font-size: 1.8rem;
          }

          .sideline {
            display: none;
          }

          p {
            font-size: 1.5rem;
          }

          .intro {
            margin: 50px 0;
          }

          .extra {
            p {
              max-width: 350px;
              font-size: 1.3rem;
            }
            .arrow {
              margin-right: 0.5em;
            }
          }
        }
      }
      .section-one-left {
        flex: 100%;
      }
    }

    .section-two {
      margin: 20px;
      margin-top: 100px;

      .aboutme {
        padding: 10px 30px;
        line-height: 1.6;
        width: 18em;
        margin: auto;

        h1 {
          font-size: 1.3rem;
          letter-spacing: 1px;
        }

        p {
          text-indent: 10px;
          font-size: 1.2rem;
        }
      }

      .personal-info {
        h1 {
          font-size: 3rem;
        }

        .personal-info-section {
          padding: 5px;
          width: 20em;
          margin: auto;

          .info-item {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 5px 20px;
            margin: 1em 0;

            > p:nth-of-type(1) {
              font-size: 1.5rem;
              text-decoration: underline $accent-purple;
            }

            p:nth-of-type(2) {
              text-align: center;
              line-height: 2;
              font-size: 1.3rem;
              margin: 0;

              a {
                font-size: 1.3rem;
              }
            }

            ul {
              font-size: 1.3rem;
              line-height: 1.2;
            }
          }
        }
      }
    }
  }
}
