.Nav {
  background: #28b097;
  box-shadow: 0 1px 5px lightgray;
  display: flex;
  flex-direction: row;
  max-height: 2.5em;
  position: sticky;
  top: 0;
  z-index: 10;
  overflow: hidden;
  font-size: 1.5rem;
}

.navbar {
  flex: 90%;
  display: flex;
  align-items: center;
  font-family: 'InterReg', sans-serif;
  color: black;
  user-select: none;
}

.navbar .nav-link {
  padding: 4vh 2vw;
  text-decoration: none;
  color: #32373c;
  letter-spacing: 4px;
  background-color: #28b097;
}

.navbar .active-link {
  background-color: #f1f5f9;
  color: #32373c;
  text-decoration: none;
  padding: 4vh 2vw;
  cursor: pointer;
  transition: background-color 0.3s linear, border 0.3s linear;
  color: 0.1s ease;
}

.Nav .toggle {
  flex: 5%;
  display: flex;
  align-items: center;
  width: 2em;
  margin-right: 0.5em;
}

.toggle .togglebtn {
  cursor: pointer;
  color: #32373c;
  font-size: 1.3em;
  border-radius: 30px;
  padding: 0.2em;
}

.toggle .togglebtn:active {
  color: #37383a;
  background-color: #3ab49c;
}

@media screen and (min-width: 600px) and (max-width: 768px) {
  .navbar .nav-link {
    display: flex;
    align-items: center;
    margin-left: 0;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
  .Nav {
    margin: auto;
  }

  .navbar .nav-link {
    padding: 2em 2vw;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
    border-right: 1px solid transparent;
    flex: 25%;
  }

  .toggle .togglebtn {
    font-size: 1.5em;
    padding: 0 0.3em;
  }
}
