.pro-card * {
  box-sizing: border-box;
}

.pro-card {
  background-color: #fffefe;
  min-width: 280px;
  margin: 0 20px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  transition: transform 0.3s linear;
}

.pro-card:hover {
  transform: scale(1.05, 1.05);
}

.pro-card .card-name {
  text-align: center;
  grid-area: 1 / 1 / 4 / 4;
  text-decoration: none;
  border-radius: 5px 5px 0 0;
  font-size: 2rem;
  font-family: InterReg;
  padding: 50px 20px;
  cursor: pointer;
  user-select: none;
}

.pro-card .code-btn {
  border-radius: 0 0 5px 5px;
  grid-area: 4 / 1 / 4 / 3;
  background-color: #5902ec;
  color: #fefefe;
  text-align: center;
  padding: 15px 0;
  text-decoration: none;
  font-family: InterReg;
  font-size: 1.3rem;
  transition: background-color 0.1s linear;
  cursor: pointer;
  user-select: none;
}

.pro-card .code-btn span {
  margin-left: 10px;
}

@media screen and (min-width: 600px) and (max-width: 768px) {
  .pro-card {
    width: 300px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .pro-card .card-name {
    font-size: 1.5rem;
    padding: 30px 30px;
    grid-area: 1 / 1 / 4 / 4;
  }
  .pro-card .code-btn {
    font-size: 1.1rem;
    padding: 20px 0;
  }
  .pro-card .code-btn:hover {
    padding: 20px 0;
  }
}

@media screen and (max-width: 600px) {
  .pro-card {
    width: 350px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .pro-card .card-name {
    font-size: 1.2rem;
    padding: 20px 15px;
    grid-area: 1 / 1 / 3 / 3;
  }
  .pro-card .code-btn {
    font-size: 1rem;
    padding: 10px 0;
    grid-area: 3 / 1 / 3 / 3;
  }
}
