.movieList {
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 5em;
    justify-content: center;
    gap: 0 5em;

}

.movieCard {
    flex: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20em;
    max-width: 15em;
    margin-bottom: 20em;
    flex-basis: auto;
}

.movieCard .movieImg {
    flex: 80%;
}

.movieCard .movieImg > img {
    object-fit: contain;
}

.movieCard > div {
    flex: 20%;
    text-align: center;
}

@media screen and (max-width: 450px) {
    .movieCard {
        margin-bottom: 10em;
    }
}