.moviefinder * {
  box-sizing: border-box;
}

.moviefinder {
  font-family: InterRegBold, sans-serif;
  min-height: 150em;
  padding-bottom: 5em;
  color: #da0037;
}

.moviefinder .header {
  height: 8em;
  width: 100%;
  padding: 1em 0;
  background-color: #da0037;
}

.moviefinder .header h1 {
  margin: 0;
  color: black;
  font-size: 4rem;
  font-weight: 800;
  letter-spacing: 2px;
  text-align: center;
}

.moviefinder .searcher {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.moviefinder .alertbox {
  margin-top: 2em;
}

.moviefinder .loading {
  text-align: center;
}

@media only screen and (max-width: 450px) {
  .moviefinder .searcher {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
  }
  .moviefinder .loading {
    text-align: center;
    font-size: 2rem;
  }
}
